<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security.xsd">

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <aop:config proxy-target-class="true" />

	<!-- Transaction manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="nestedTransactionAllowed" value="true" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />

	
	<!-- ****************************** -->
    <!-- DAO                            -->
    <!-- ****************************** -->
    
	<bean id="genericDao" abstract="true">
	   <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <bean id="newsBuisiness" parent="genericDao" class="jkt.centralisateur.storage.buisiness.NewsBuisiness" />
	
	<bean id="userBuisiness" parent="genericDao" class="jkt.centralisateur.storage.buisiness.UserBuisiness" />
	
    <bean id="downloadBuisiness" parent="genericDao" class="jkt.centralisateur.storage.buisiness.DownloadBuisiness" />


    <!-- Conversion de données DTO <-> Modèle -->
    <bean name="pojoToDtoConverter" class="jkt.centralisateur.storage.common.PojoToDtoConverter" />
    
    <bean name="dtoToPojoConverter" class="jkt.centralisateur.storage.common.DtoToPojoConverter" />


	<!-- ****************************** -->
	<!-- Transactional storage services -->
	<!-- ****************************** -->
     
    <bean id="newsService" class="jkt.centralisateur.storage.service.NewsService">
       <property name="newsBuisiness" ref="newsBuisiness" />
    </bean>
    
	<bean id="userService" class="jkt.centralisateur.storage.service.UserService">
	   <property name="userBuisiness" ref="userBuisiness" />
	</bean>
    
    <bean id="testArcService" class="jkt.centralisateur.storage.buisiness.TestArcService">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="downloadService" class="jkt.centralisateur.storage.service.DownloadService">
        <property name="downloadBuisiness" ref="downloadBuisiness" />
        <property name="pojoToDtoConverter" ref="pojoToDtoConverter" />
        <property name="dtoToPojoConverter" ref="dtoToPojoConverter" />
        <property name="deploiementLocation" value="${download.deploiement.location}" />
    </bean>
    
    <bean id="jktTransactionManager" class="jkt.centralisateur.storage.transaction.JktTransactionManager" />
    
    <!-- Collecte des performances des transactions --> 
    <bean id="performanceCollector" class="jkt.centralisateur.storage.common.PerformanceCollector">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
</beans>
