
div.logout {
	position: fixed;
	right: 10px;
	top: 5px;
}

div.menu {
	float: left;
	width: 16%;
	height: 100%;
	background-color: #CCCCCC;
}

div.content {
	background-color: #FFFFFF;
}

.error {
	color: red;
}
