<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Security 
		configuration +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<security:http pattern="/angular/**" security="none" />
		
	<security:http>
		<security:intercept-url pattern="/secure/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/secure/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
		<security:http-basic />
		<security:form-login
			login-processing-url="/login.do"
			username-parameter="username" password-parameter="password"
			authentication-failure-url="/login_failed.do"
			default-target-url="/secure/welcome.do" />
		<security:logout logout-url="/logout.do" logout-success-url="/login.do" />
		<security:remember-me />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<!-- <security:password-encoder hash="bcrypt" /> -->
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="userDetailsService" class="jkt.centralisateur.authentication.UserAuthenticater">
		<property name="userService" ref="userService" />
	</bean>


	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ I18n 
		+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>


	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Error 
		handling +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- <prop key="Exception1">exception1</prop> <prop key="Exception2">exception2</prop> -->
			</props>
		</property>
		<property name="exceptionAttribute" value="exceptionToHandle" />
		<property name="defaultStatusCode" value="500" />
		<property name="warnLogCategory" value="WARN" />
		<property name="defaultErrorView" value="unknownException" />
	</bean>


	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Mail 
		sending +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<bean name="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.free.fr" />
		<property name="port" value="25" />
		<property name="username" value="ahuut" />
		<property name="password" value="sort21" />
	</bean>

	<bean name="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
			</props>
		</property>
	</bean>

	<bean name="inscriptionConfirmationEmail" class="jkt.centralisateur.mail.InscriptionConfirmationEmail">
		<property name="velocityEngine" ref="velocityEngine" />
		<property name="vmTemplate"
			value="file:/velocity-templates/inscription-confirmation-mail.vm" />
	</bean>

</beans>
