
Vous avez fait une demande d'inscription sur le serveur JKT. Afin de valider votre
inscription, cliquez sur le lien suivant : ${lienConfirmation}

Si toutefois vous n'êtes pas à l'origine de cette demande d'inscription et
ne désirez pas y donner suite il vous suffit d'ignorer ce mail.


Ceci est un mail envoyé automatiquement, merci de ne pas répondre.
